$primary:          #454545;
$secondary:        #e0e0e0;
$shadowColor: rgba(#000, .1);

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Noto+Sans+TC:wght@400&display=swap");

$space:        1rem;
$font_size:    1rem;
$font_family:  'Lato', 'Noto Sans TC'