.container {
  width: 94%;
  margin: 0 auto;
  padding: 0 3%;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.navbar {
  padding: 0;
  background: $body-bg;
  transition: .3s;

  &.isTop {
    background: transparent;
    padding-top: $space;
    padding-bottom: $space;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    font-size: $font_size * 2.5;
    color: $primary;
    font-weight: 900;
  }
}
.nav {
  display: flex;
  align-items: center;
  
  &.mobileMenu {
    @media (max-width: 920px) {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      text-align: center;
      background: $body-bg;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .3s;
    }
  
    &.active {
      @media (max-width: 920px) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  &__link,
  button {
    position: relative;
    display: block;
    font-size: $font_size * 1.5;
    padding: $space * 1.25;
    color: inherit;
    z-index: 1020;
    &.active {
      color: lighten($primary, 20);
      &::before {
        width: 100%;
      }
    }
  }

  &__link::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 0;
    height: 5px;
    background: lighten($primary, 20);
    transform: translateX(-50%);
    transition: .3s;
  }
  &__link:hover {
    &::before {
      width: 100%;
    }
  }
  
  &__btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  button:hover {
    .fa-facebook-f {
      color: #8b9cc2;
    }
    .fa-twitter {
      color: #62c8f0;
    }
  }
}
.btn-burger{
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: $space * 1.25;
  @media (min-width: 920px) {
    display: none;
  }
}
.btn-burger-icon{
  width: 32px;
  height: 4px;
  background: #fff;
  border-radius: 2px;
  transition: all .2s ease-in-out;

  &::before,
  &::after{
      content: '';
      position: absolute;
      width: 32px;
      height: 4px;
      background: #fff;
      border-radius: 2px;
      transition: all .2s ease-in-out;
  }
  &::before{
      transform: translate(-16px, -10px);
  }
  &::after{
      transform: translate(-16px, 10px);
  }
}
.btn-burger.open{
  .btn-burger-icon{
      transform: translateX(50px);
      background: transparent;

      &::before{
          transform: rotate(-45deg) translate(-45px, -45px);
      }
      &::after{
          transform: rotate(45deg) translate(-45px, 45px);
      }
  }
}
.banner {
  height: 100vh;
  width: 100%;
  background: url('https://github.com/zz41354899/china-project-/blob/demo/img/banner.png?raw=true');
  background-size: cover;


  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: brightness(70%);

    h2 {
      letter-spacing: .25rem;
      font-size: $font_size * 6;
      font-weight: 900;
      animation: slide 2s 1 ease-out;
      @media (max-width: 567px) {
        font-size: $font_size * 3;
      }
    }

    h3 {
      font-size: $font_size * 3;
      font-weight: 500;
      animation: slide 2s 1 ease-out;
      @media (max-width: 567px) {
        font-size: $font_size * 1.5;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &-cols-2 {
    .col {
      padding: 1%;
      width: 48%;
    }
  }
  &-cols-4 {
    .col {
      padding: .5%;
      width: 24%;
      @media (max-width: 768px) {
        padding: 1%;
        width: 48%;
      }
    }
  }
}

.frame {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 100%;
    content: "";
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    background: rgba(#000, .4);
    opacity: 0;
    transition: .5s;

    h3 {
      padding: 0 $space * 3;
      padding-bottom: $space * 2;
      font-size: $font_size * 2.5;
      font-weight: 700;
      color: $primary;
      transform: translateX(80%);
      transition: .5s;
    }
    p {
      padding: 0 $space * 3;
      font-size: $font_size * 1.5;
      transform: translateX(80%);
      transition: .5s;
    }
  }
      
  &:hover {
    .frame__content {
      opacity: 1;

      h3,
      p {
        transform: translateX(0);
      }
    }  
  }
}

.hover-show{
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, .5);
    transition: .3s;
  }

  &:hover {
    &::after {
      background: rgba(#000, 0)
    }
  }
}

.title {
  position: relative;
  margin-bottom: $space * 3.5;
  padding-bottom: $space * 1.5;
  color: $primary;
  text-align: center;
  font-size: $font_size * 2.5;
  font-weight: 700;

  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    border-bottom: 4px solid $primary;
    transform: translateX(-50%);
  }
}

footer.navbar {
  .container {
    @media (max-width: 567px) {
      flex-direction: column;
    }
  }
}

.mb-5 {
  margin-bottom: $space * 5;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}