$primary:    #f92;
$body_bg:    #222;
$body_color: #fff;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");

$space:        1rem;
$font_size:    1rem;
$font_family:  'Lato', 'Noto Sans TC'