@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;700;900&family=Noto+Sans+TC:wght@500;700;900&display=swap");
body {
  background: #222;
  color: #fff;
  font-family: "Lato", "Noto Sans TC";
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 94%;
  margin: 0 auto;
  padding: 0 3%;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  padding: 0;
  background: #222;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar.isTop {
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navbar__logo {
  font-size: 2.5rem;
  color: #f92;
  font-weight: 900;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 920px) {
  .nav.mobileMenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media (max-width: 920px) {
  .nav.mobileMenu.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.nav__link,
.nav button {
  position: relative;
  display: block;
  font-size: 1.5rem;
  padding: 1.25rem;
  color: inherit;
  z-index: 1020;
}

.nav__link.active,
.nav button.active {
  color: #ffc888;
}

.nav__link.active::before,
.nav button.active::before {
  width: 100%;
}

.nav__link::before {
  content: '';
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 0;
  height: 5px;
  background: #ffc888;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover::before {
  width: 100%;
}

.nav__btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav button:hover .fa-facebook-f {
  color: #8b9cc2;
}

.nav button:hover .fa-twitter {
  color: #62c8f0;
}

.btn-burger {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding: 1.25rem;
}

@media (min-width: 920px) {
  .btn-burger {
    display: none;
  }
}

.btn-burger-icon {
  width: 32px;
  height: 4px;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-burger-icon::before, .btn-burger-icon::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 4px;
  background: #fff;
  border-radius: 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-burger-icon::before {
  -webkit-transform: translate(-16px, -10px);
          transform: translate(-16px, -10px);
}

.btn-burger-icon::after {
  -webkit-transform: translate(-16px, 10px);
          transform: translate(-16px, 10px);
}

.btn-burger.open .btn-burger-icon {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  background: transparent;
}

.btn-burger.open .btn-burger-icon::before {
  -webkit-transform: rotate(-45deg) translate(-45px, -45px);
          transform: rotate(-45deg) translate(-45px, -45px);
}

.btn-burger.open .btn-burger-icon::after {
  -webkit-transform: rotate(45deg) translate(-45px, 45px);
          transform: rotate(45deg) translate(-45px, 45px);
}

.banner {
  height: 100vh;
  width: 100%;
  background: url("https://github.com/zz41354899/china-project-/blob/demo/img/banner.png?raw=true");
  background-size: cover;
}

.banner__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-backdrop-filter: brightness(70%);
          backdrop-filter: brightness(70%);
}

.banner__content h2 {
  letter-spacing: .25rem;
  font-size: 6rem;
  font-weight: 900;
  -webkit-animation: slide 2s 1 ease-out;
          animation: slide 2s 1 ease-out;
}

@media (max-width: 567px) {
  .banner__content h2 {
    font-size: 3rem;
  }
}

.banner__content h3 {
  font-size: 3rem;
  font-weight: 500;
  -webkit-animation: slide 2s 1 ease-out;
          animation: slide 2s 1 ease-out;
}

@media (max-width: 567px) {
  .banner__content h3 {
    font-size: 1.5rem;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-cols-2 .col {
  padding: 1%;
  width: 48%;
}

.row-cols-4 .col {
  padding: .5%;
  width: 24%;
}

.frame {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.frame::before {
  display: block;
  padding-top: 100%;
  content: "";
}

.frame > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.frame__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.frame__content h3 {
  padding: 0 3rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f92;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  -webkit-transition: .5s;
  transition: .5s;
}

.frame__content p {
  padding: 0 3rem;
  font-size: 1.5rem;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  -webkit-transition: .5s;
  transition: .5s;
}

.frame:hover .frame__content {
  opacity: 1;
}

.frame:hover .frame__content h3,
.frame:hover .frame__content p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hover-show::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
}

.hover-show:hover::after {
  background: rgba(0, 0, 0, 0);
}

.section {
  position: relative;
  margin-bottom: 3.5rem;
  padding-bottom: 1.5rem;
  color: #f92;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.section::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100px;
  border-bottom: 4px solid #f92;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 567px) {
  footer.navbar .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mb-5 {
  margin-bottom: 5rem;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=all.css.map */